@import "tailwindcss";

:root {
  --text: #ffffff;
  --text-h: #303030;
  --bg: #252525;
  --bgSecond: #1b1b1b;
  --border: #2e303a;
  --code-bg: #8c8c8c;
  --accent: #1d1d1d;
  --accent-bg: rgba(40, 40, 40, 0.15);
  --accent-border: #9a9a9a;
  --notibg: rgba(91, 98, 179, 0.192);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    box-sizing: border-box;
    font-size: 16px;
  }
}
:root ::-webkit-scrollbar {
  display: none;
}
@utility main {
  @apply min-h-screen h-screen w-full box-border bg-(--bg);
}
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility w-h-full {
  @apply w-full h-full;
}
@utility w-h-half {
  @apply w-[50%] h-[50%];
}
input::placeholder {
  color: var(--code-bg);
}
@utility input {
  @apply block w-full p-4 px-3 rounded-xl text-[1.05rem] bg-(--accent) outline-2 outline-blue-700 accent-blue-700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--accent) inset !important;
  -webkit-text-fill-color: var(--text) !important;
}

@utility button {
  @apply px-7 py-2 bg-blue-700 text-white text-base text-center border-2 border-black outline-2 rounded-lg hover:bg-blue-800 font-bold outline-blue-700;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" #1447e6,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
